form {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

form .row {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

input {
  border: 0;
  border-bottom: 1px solid #5a5e9c;
  padding-left: 15px;
  font-size: 16px;
  font-family: "Roboto Light", serif;
}

input:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  background: rgb(111, 111, 170);
  border: 0;
  font-family: "Roboto Light", serif;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.response {
  border: 5px double rgba(138, 34, 235, 0.89);
  padding: 5px 10px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

.images img{
  width: 400px;
  border: 2px dotted rgb(57, 33, 167);
}
